{% extends 'green/index.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% load bootstrap3 %}
{% load bootstrap_toolkit %}
{% block content %}

<section class="featured">


    <div id="index">
            <!-- Responsive slider - START -->
        <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
            <div class="slides" data-group="slides">
                <ul>
                    <li>
                        <div class="slide-body" data-group="slide">
                            <img src="{% static 'green/img/8.jpg' %}" alt="">
                            <div class="caption header" data-animate="slideAppearUpToDown" data-delay="500" data-length="300">
                                <h2>dedicated gis livestock management system.</h2>
                                <div class="caption-sub" data-animate="slideAppearDownToUp" data-delay="1200" data-length="300"><h4><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h4></div>
                                <div class="caption-sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300"><h3>With one to one swipe movement!</h3></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slide-body" data-group="slide">
                            <img src="{% static 'green/img/2.jpg' %}" alt="">
                            <div class="caption header" data-animate="slideAppearDownToUp" data-delay="500" data-length="300">
                                <h2>creative design Responsive slider</h2>
                                <div class="caption-sub" data-animate="slideAppearUpToDown" data-delay="800" data-length="300"><h4><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span></h4></div>
                                <div class="caption-sub" data-animate="slideAppearRightToLeft" data-delay="1200" data-length="300"><h3>Wonderfull Slides!</h3></div>
                            </div>
                        </div>
                    </li>
                <li>
              <div class="slide-body" data-group="slide">
                <img src="{% static 'green/img/6.jpg' %}" alt="">
                <div class="caption header" data-animate="slideAppearUpToDown" data-delay="500" data-length="300">
                  <h2>creative design Custom animations</h2>
                  <div class="caption-sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300"><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4></div>
                  <div class="caption-sub" data-animate="slideAppearDownToUp" data-delay="1200" data-length="300"><h3><span>New style Slides!</span></h3></div>

                </div>
                </div>
                </li>

            </ul>
        </div>

        <a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
        <a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>


        </div>
      <!-- Responsive slider - END -->
    </div>
        </section>

{% endblock %}
