<!DOCTYPE html>
<html>
<head>
    <title>test</title>
</head>
<body>
<script type="text/javascript">
    data = [

{"fields": {"first_name": "muriithi", "last_name": "derrick", "animal": "Cattle", "reporter": "farmer", "photo": "", "nearest_town": "Mugunda", "number": 10, "disease": "Anthrax", "sub_county": "Mathira_West", "phone": "+254797916850", "geom": "SRID=4326;POINT (36.9948675366734820 -0.3900611255151587)", "incidence_title": "major august 2017 outbreak", "date_reported": "2017-09-23T14:43:32.673Z", "treated": "No", "email": "muriithiderrick56@gmail.com", "description": "fgfggf"}, "model": "liveapp.incidence", "pk": 1},

 {"fields": {"first_name": "sf", "last_name": "sf", "animal": "Sheep", "reporter": "farmer", "photo": "", "nearest_town": "Kirimukuyu", "number": 522, "disease": "East_cost_fever", "sub_county": "Mathira_West", "phone": "+254707200100", "geom": "SRID=4326;POINT (37.0457651349334470 -0.5512113289764583)", "incidence_title": "aeefs", "date_reported": "2017-10-14T11:19:16.775Z", "treated": "Yes", "email": "muriithiderrick56@gmail.com", "description": "dfggfdgf"}, "model": "liveapp.incidence", "pk": 2}


 ]

  console.log(data);
</script>

</body>
</html>


